.join-form,
#board-contents
 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60vw;
    margin:0, auto;
}

#board-contents > p {
    padding: 0 0 10px 5px;
    font-size: 0.8em;
}

input, textarea,
#image-container
{
    margin: 5px 0;
    padding: 10px 5px;
    border: solid 1px lightblue;
    outline: none;
}

textarea {
    resize: none;
    height: 20vh;
}

input[type='button'], 
input[type='submit']
{
    cursor: pointer;
}

img {
    width: 80%;
    margin: auto;
}

/*로그인*/
.login-text{
    color:lightblue;
}
.login-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.login-form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.login-btn{
border-radius: 4px;
background-color: lightblue;
color:white;
margin-top: 30px;
}

/*회원가입 form*/
.form_wrap{
    display: flex;
    justify-content: center;
}

.input-box{
width: 50vw;
}

.join-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.join-btn{
    width: 30vw; 
    border-radius: 4px;
    background-color: lightblue;
    color: white;
}